

<h2>Student Menu Index</h2>


<p>List Students</p>
<p>Room availability</p>
<p>Make Booking</p>
<p>Cancel Booking</p>


<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="ListStudents">
        List Students
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="StaffAvail">
        Room availability
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="MakeBooking">
        Make Booking
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="CancelBooking">
        Cancel Booking
    </a>
</p>




