<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Room</h1>
</div>
<p class="lead">Edit a room form</p>
<div class="col-4 px-0">
  <div *ngIf="error" class="alert alert-danger">
    <p *ngFor="let item of error.name">{{ item }}</p>
  </div>
  <form [formGroup]="editRoomForm" (ngSubmit)="edit()">
    <div class="form-group">
      <label for="roomName">Room name:</label>
      <input type="text" formControlName="name" class="form-control" id="roomName" aria-describedby="roomHelp" placeholder="Room name e.g. A, Office B">
      <small id="roomHelp" class="form-text text-muted">This name will change any slot assigned to it.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" [routerLink]='["/admin/rooms"]'>Back to room list</a>
  </form>
</div>
