

<h2>Staff Menu Index</h2>


<p>List Staff</p>
<p>Room availability</p>
<p>Create slot</p>
<p>Remove slot</p>



<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="ListStaff">
        List Staff
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="RoomsAvail">
        Room availability
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="CreateSlot">
        Create slot
    </a>
</p>

<p>
    <a asp-area="" asp-controller="StaffMenu" asp-action="RemoveSlot">
        Remove slot
    </a>
</p>




