@model Rmit.Asr.Application.Models.Slot

@{
    ViewData["Title"] = "Error Removing a Slot";
}

<h1 class="pb-2">@ViewData["Title"]</h1>
<p class="lead">Something bad happened as we were delete a slot.</p>
<span asp-validation-for="RoomId" class="text-danger"></span>
<span asp-validation-for="StaffId" class="text-danger"></span>
<span asp-validation-for="StartTime" class="text-danger"></span>
<span asp-validation-for="StudentId" class="text-danger"></span>
<div>
    <a class="btn btn-primary" asp-controller="Slot" asp-action="Index">
        Back to slot listing
    </a>
</div>
