@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<p class="lead">@ViewData["Message"]</p>
<p>This application is an appointment booking system for students and staff to schedule appointments.</p>
<p>Be sure to check out our student and staff features as both roles special tasks to manage slots.</p>
<p>A Temporary admin panel has been created to manually delete slots and create rooms.</p>
