@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<p class="lead">@ViewData["Message"]</p>

<p>This application is an appointment booking system for students and staff to schedule appointments.</p>
