@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1234 fake street<br />
    No where town, Vic 3000<br />
    <abbr title="Phone">Phone:</abbr>
    123 456 7890 
</address>

<address>
    <strong>Support: </strong>s3545751@student.rmit.edu <br />
    <strong>Marketing: </strong>s3604367@student.rmit.edu 
</address>
