@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<p class="lead">@ViewData["Message"]</p>

<h3>Student 1</h3>
<p>Shawn Taylor</p>
<p>S3545751</p>
<h3>Student 2</h3>
<p>Johnny Huynh</p>
<p>S3604367</p>

<h3>Location</h3>
<p>RMIT University</p>