@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div>
    <p>
        <h2>FAQ's</h2>
        1. When are bookings available?<br />
        Bookings can be made between 9am to 2pm at the start of the hour<br />
        eg: 10:00am, 1:00pm, etc...<br />
        2. How long are the bookings?<br />
        Each slot must be of 1-hour duration.<br />
        3. How many bookings can i make?<br />
        Staff members can book up to 4 slots per day.<br />
        students can only book 1 slot per day<br />
        4. Can i book a room all day?<br />
        No, each room can be booked for a maximum of 2 slots per day.<br />
        5. Can i cancel a booking?<br />
        A staff member cannot delete a slot once it has been booked by a student.<br />
        6. How many students can i booking into a slot?<br />
        A slot can have a maximum of 1 student booked into it.<br />
    </p>
</div>