@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    
    <h2>FAQ's</h2>
    <p class="lead">Frequently asked questions in regards to the appointment booking system.</p>
    
    <h3>When are bookings available?</h3>
    <p>Bookings can be made between 9am to 2pm at the start of the hour</p>
    <p>eg: 10:00am, 1:00pm, etc...</p>
    
    <h3>How long are the bookings?</h3>
    <p>Each slot must be of 1-hour duration.</p>
    
    <h3>How many bookings can I make?</h3>
    <p>Staff members can book up to 4 slots per day.</p>
    <p>students can only book 1 slot per day</p>
    
    <h3>Can I book a room all day?</h3>
    <p>No, each room can be booked for a maximum of 2 slots per day.</p>
    
    <h3>Can I cancel a booking?</h3>
    <p>A staff member cannot delete a slot once it has been booked by a student.</p>
    
    <h3>How many students can I booking into a slot?</h3>
    <p>A slot can have a maximum of 1 student booked into it.</p>
    
</div>