@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="pt-4 pb-2">📙 Welcome!</h1>
    <p class="lead">An easy way to manage bookings between students and staff members 😘</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" style="border-radius: 2rem" asp-area="" asp-controller="Home" asp-action="Faq" role="button">Visit FAQ</a>
    </p>
</div>

