@{
    ViewData["Title"] = "Home Page";
}


<div>
  
    <h3>Appointment booking system</h3>
    <p> An easy way to manage bookings between students and staff members</p>

    <img src="~/images/bs_icon.jpg" alt="Booking system icon" />


</div>

