<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">List Booked Slots</h1>
</div>
<p class="lead">Here are all the slots made by staff on the system.</p>
<div class="col-6 px-0 mb-4">
  <app-alerts></app-alerts>
  <div class="alert alert-danger" *ngIf="userId.invalid && (userId.dirty || userId.touched) || error">
    <div *ngIf="userId.invalid && (userId.dirty || userId.touched)">
      <div *ngIf="!!userId.errors?.invalidUserId">
        Invalid user ID as it must start with either 's' or 'e'
      </div>
    </div>
    <div *ngIf="error">
      <div *ngFor="let message of error">{{ message }}</div>
    </div>
  </div>
  <form [formGroup]="getSlotForm" (ngSubmit)="getSlot()">
    <div class="form-group">
      <label for="userId">User Id:</label>
      <input type="text" formControlName="userId" class="form-control" id="userId" placeholder="Student ID or staff ID" required>
    </div>
    <button type="submit" class="btn btn-primary rounded-lg mr-2">Get slots</button>
    <a class="btn btn-secondary rounded-lg" [routerLink]='["/admin/slots"]' (click)="resetSlots()">Back to all slots</a>
  </form>
</div>
<div class="col-6 px-0">
  <table class='table' *ngIf="slots">
    <thead>
      <tr>
        <th class="align-middle">Room name</th>
        <th class="align-middle">Staff ID</th>
        <th class="align-middle">Student ID</th>
        <th class="align-middle">Start Date</th>
        <th class="align-middle">Start Time</th>
        <th class="align-middle"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slot of slots">
        <td class="align-middle">{{ slot.room.name }}</td>
        <td class="align-middle"><span *ngIf="slot.staff">{{ slot.staff.staffId }}</span></td>
        <td class="align-middle"><span *ngIf="slot.student">{{ slot.student.studentId }}</span></td>
        <td class="align-middle">{{ date('MMMM DD YYYY', slot.startTime) }}</td>
        <td class="align-middle">{{ date('h:mm a', slot.startTime) }}</td>
        <td class="align-middle text-right">
          <a class="btn btn-danger rounded-lg mr-2" [routerLink]='["/admin/slots/delete/", slot.room.name, date("YYYY-MM-DD", slot.startTime), date("HH:mm", slot.startTime)]'>Delete</a>
          <a class="btn btn-secondary rounded-lg" [routerLink]='["/admin/slots/edit/", slot.room.name, date("YYYY-MM-DD", slot.startTime), date("HH:mm", slot.startTime)]'>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
