<h1>slot Data</h1>
<p>This component demonstrates fetching slot data from the server.</p>

<div>
  <span>User Id: </span>
  <input type="text" name="UserID" [(ngModel)]="_userID">
  <input type="submit" name="submit" value="Get Slots" (click)="onSubmit(UserID)">
</div>

<div>
    <span>get all slots: </span>
    <input type="submit" name="submit" value="Get All Slots" (click)="getAll()">
  </div>

<p *ngIf="!slotList"><em>Loading...</em></p>
<table class='table' *ngIf="slotList">
  <thead>
    <tr>
      <th>Room name</th>
      <th>Staff ID</th>
      <th>Student ID</th>
      <th>StartTime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slotList">
      <td>{{ slot.room.name }}</td>
      <td><span *ngIf="slot.staff">{{ slot.staff.staffId }}</span></td>
      <td><span *ngIf="slot.student">{{ slot.student.studentId }}</span></td>
      <td>{{ slot.startTime }}</td>
    </tr>
  </tbody>
</table>

