
<h1>List Booked Slots</h1>
<p>Enter the ID for the student or staff member to list all their booked slots</p>

<div>
  <span>User Id: </span>
  <input type="text" name="UserID" [(ngModel)]="_userID">
  <input type="submit" name="submit" value="Get Slots" (click)="onSubmit(UserID)">
</div>


<table class='table' *ngIf="slotList">
  <thead>
    <tr>
      <th>Room name</th>
      <th>Staff ID</th>
      <th>Student ID</th>
      <th>StartTime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slotList">
          <td *ngIf="slot.student" >{{ slot.room.name }}</td>
          <td *ngIf="slot.student" ><span *ngIf="slot.staff">{{ slot.staff.staffId }}</span></td>
          <td *ngIf="slot.student" ><span *ngIf="slot.student">{{ slot.student.studentId }}</span></td>
          <td *ngIf="slot.student" >{{ slot.startTime }}</td>
    </tr>
  </tbody>
</table>